font-face {
    font-family: 'Syne Mono';
    src: url('fonts/Syne-Mono.woff2') format('woff2'),
        url('fonts/Syne-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Syne';
    src: url('fonts/Syne-Italic.woff2') format('woff2'),
        url('fonts/Syne-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HumboldtFrakturUNZ1L';
    src: url('fonts/HumboldtFrakturUNZ1L.woff2') format('woff2'),
        url('fonts/HumboldtFrakturUNZ1L.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    background-color: #1D0000;
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge*/
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    /* Non-prefixed version, currently 
                                  not supported by any browser */
}

#content {
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

#hell {
    width: 100%;
}

#centeredcontent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#cap {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    z-index: 8;
}

#cap div {
    position: absolute;


}

.cap {
    max-width: 80vw;
}

#purchase {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    order: 2;
    margin-bottom: 5vh;
    z-index: 10;
}

#paypalButton {
    background-color: red;
    height: 1.5em;
    border: none;
    border-radius: 35px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-shadow: 0px 0px 20px black;
    font-family: 'Syne', Arial, sans-serif;
    font-style: italic;
    font-size: 3em;
    color: white;
    padding-bottom: 0.1em;
    cursor: url(images/purchase.png), pointer !important;

}

button:focus,
input[type="button"]:focus {
    outline: none;
}

#price {
    position: relative;
    left: 190px;
    bottom: 90px;
    width: 7em;
    padding: 0.25em;
    background-image: url("images/pricetag.svg");
    background-position: center;
    transform: rotate(14deg);
    text-align: center;
    filter: drop-shadow(0 0 0.375em black);
    cursor: default;
}

p.price {
    font-family: "syne mono", monaco, monospace;
    font-weight: normal;
    font-size: 2em;
    color: black;
    letter-spacing: 0;
}

a.text {
    font-family: freight-text-pro, serif;
    font-weight: 300;
    font-style: italic;
    font-size: 3em;
    line-height: 1.25em;
    margin-bottom: 1.25em;
    letter-spacing: 2.25px;
    color: red;
}

a.formerevil {
    font-family: 'HumboldtFrakturUNZ1L';
    font-weight: bold;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 1px;
    vertical-align: -2px;
}

.tooltip {
    position: relative;
}

.tooltip span {
    float: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    max-width: 320px;
    min-height: 80px;
    margin-top: 48px;
}

.marquee {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9;
}

#marquee {
    width: 100px;
    height: 80px;
}

.logo {
    fill: #9482B9;
}

.logotext {
    fill: #fff;
}

#topGrad {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(29, 0, 0, 0) 0%, #1D0000 80%);
    transform: rotate(-180deg);
    z-index: 7;
}

#bottomGrad {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(29, 0, 0, 0) 0%, #1D0000 80%);
    z-index: 7;

}

#childchild {
    width: 150px;
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: url(images/childchild.png), pointer !important;
    z-index: 10;

}


#volume {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    font-family: 'Syne', sans-serif;
    font-style: italic;
    position: absolute;
    color: white;
    font-size: 2em;
    left: 25px;
    bottom: 25px;
    z-index: 10;
}

.mute {
    cursor: url(images/mute.png), pointer !important;

}

.unmute {
    cursor: url(images/unmute.png), pointer !important;
}

.modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@supports (backdrop-filter: none) {
    .modal {
        backdrop-filter: blur(20px) brightness(80%);
    }
}

@supports (-webkit-backdrop-filter: none) {
    .modal {
        -webkit-backdrop-filter: blur(50px) brightness(80%);
    }
}

.modalContent {
    width: 35vw;
    color: white;
    font-family: freight-text-pro, serif;
    font-weight: 300;
    font-size: 1.75em;
    font-style: italic;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalSub {
    margin-top: 25px;
    font-size: 0.75em;

}

.bio {
    text-decoration: none;
    font-weight: 300;
    color: red;
}

#taehee {
    cursor: url(images/whitemalepainter.png), pointer !important;

}

#chuck {
    cursor: url(images/duckduckchuck.png), pointer !important;

}

#close {
    /*align-items: center;*/
    align-self: center;
    text-align: center;
    background-color: white;
    font-weight: 300;
    /*font-size: 1.5em;*/

    color: black;
    border-radius: 35px;
    /*width: 20vw;*/
    padding: 0 25px;
    padding-bottom: 5px;
    margin-top: 37.5px;
    cursor: url(images/close.png), pointer !important;

    /*margin-top: 20px;*/
    /*vertical-align: 1px;*/
}

#scroll-up {
    position: fixed;
    /*height: 100%;*/
    padding: 25px;
    padding-bottom: 250px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;

    -moz-transform: translateY(27%);
    -webkit-transform: translateY(27%);
    transform: translateY(27%);

    -moz-animation: scroll-up 148s linear infinite;
    -webkit-animation: scroll-up 148s linear infinite;
    animation: scroll-up 148s linear infinite;
    animation-play-state: paused;
}

/*Move it (define the animation) */
@-moz-keyframes scroll-up {
    0% {
        -moz-transform: translateY(27%);
    }

    97.29% {
        -moz-transform: translateY(-100%);
    }

    100% {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(27%);
    }

    97.29% {
        -webkit-transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes scroll-up {
    0% {
        -moz-transform: translateY(27%);
        /* Browser bug fix */
        -webkit-transform: translateY(27%);
        /* Browser bug fix */
        transform: translateY(27%);
    }

    97.29% {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);

    }

    100% {
        -moz-transform: translateY(-100%);
        /* Browser bug fix */
        -webkit-transform: translateY(-100%);
        /* Browser bug fix */
        transform: translateY(-100%);
    }
}

@media only screen and (max-device-width: 800px) {


    .modalContent {
        width: 90vw;
        font-size: 3em;
    }

    img.inline {
        width: 130%;
    }

    a.formerevil,
    a.text {
        font-size: 4.5em;

    }

    .tooltip span {
        top: 20px !important;
    }

    .cap {
        max-width: 300vw;
    }

    #purchase {
        margin-bottom: 7vh;
        margin-top: -7vh;
    }

    #paypalButton {
        font-size: 5em;
        border-radius: 75px;
    }

    #price {
        bottom: 150px;
        left: 330px;
        width: 11em;
        padding: 0.5em;
    }

    p.price {
        font-size: 3em;
    }

    #volume {
        font-size: 3.5em;
    }

    #childchild {
        width: 262.5px;
    }

    #marquee {
        width: 150px;
        height: 120px;
    }
}

@media only screen and (max-width: 800px) {


    .modalContent {
        width: 90vw;
        font-size: 3em;
    }

    img.inline {
        width: 130%;
    }

    a.formerevil,
    a.text {
        font-size: 4.5em;

    }

    .tooltip span {
        top: 20px !important;
    }

    .cap {
        max-width: 300vw;
    }

    #purchase {
        margin-bottom: 7vh;
        margin-top: -7vh;
    }

    #paypalButton {
        font-size: 5em;
        border-radius: 75px;
    }

    #price {
        bottom: 150px;
        left: 330px;
        width: 11em;
        padding: 0.5em;
    }

    p.price {
        font-size: 3em;
    }

    #volume {
        font-size: 3.5em;
    }

    #childchild {
        width: 262.5px;
    }

    #marquee {
        width: 150px;
        height: 120px;
    }
}
